<div class="skills flex flex-center flex-column">
	<h1>Skills</h1>
	<div class="flex flex-center flex-row flex-wrap">
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">JavaScript</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/javascript-original.svg?size=128&color=currentColor" width="50" height="50" alt="JavaScript" draggable="false"></div>
		</div>
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">TypeScript</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/typescript-original.svg?size=128&color=currentColor" width="50" height="50" alt="TypeScript" draggable="false"></div>
		</div>
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">Vue</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/vuejs-original.svg?size=128&color=currentColor" width="50" height="50" alt="Vue" draggable="false"></div>
		</div>
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">Node.js</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/nodejs-original.svg?size=128&color=currentColor" width="50" height="50" alt="Node.js" draggable="false"></div>
		</div>
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">Hono</div>
			<div class="w-full flex justify-center"><img src="/assets/hono.webp" width="50" height="50" alt="Hono" draggable="false"></div>
		</div>
	</div>
</div>