---
import { TypeAnim } from "./typeanim";
import Me from '../me/index.astro'
---

<div class="title flex flex-center flex-column">
	<img src="/me.webp">
	<h1>Hi! I'm ringoXD.</h1>
	<h2>I'm a <TypeAnim client:idle /></h2>
</div>
<Me />

<style>
	.title {
		margin: 0px;
		width: auto;
		height: 60vh;
	}
	.title img {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		animation: iconanim 1s ease-in-out 0.5s forwards;
		opacity: 0;
		margin: 20px;
	}

	.title h1 {
		animation: slideanim 0.75s ease 1.5s forwards;
		opacity: 0;
		font-size: 2.25em;
	}
	.title h2 {
		animation: slideanim 0.75s ease 1.53s forwards;
		opacity: 0;
		font-size: 1.5em;
	}
	.title h1,
	.title h2 {
		margin: 5px;
	}
	@media (max-width: 720px) {
	}
</style>