---
import Who from './card/index.astro'
import Ican from './ican/index.astro'
import Skills from './skills/index.astro'
---

<Who />
<div class="flex flex-col">
	<Ican />
	<Skills />
</div>

<style>
	.skills, .can {
		margin: 10px;
		animation: slideanim 0.75s ease 2.50s forwards;
		opacity: 0;
	}
</style>