---
import Card from '../../ui/Card.astro'
---

<div class="can flex flex-center flex-col min-h-[400px]">
	<h1 class="m-4">What I can do?</h1>

	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-3/4">
	<Card
	title='Create Discord Bot'
	body='I can create Discord Bot with discord.js@v14. did u know? Sekai.Explode is created by me.'
	/>
	<Card
	title='Create Website'
	body='I can create simple websites with Astro. this site was created with Astro.js & Cloudflare Pages <3'
	/>
	<Card
	title='Create Tools'
	body='I have created some tools. Ex: URL-Shortener, Discord Status Manager, and Raknet IP Scanner.'
	/>
	</div>
</div>