---
import Layout from "../../layouts/Layout.astro";
import Header from '../../components/Header/index.astro'
import Footer from "../../components/Footer/index.astro"
---

<Layout title="Contact | ringoXD" description="Contact me">
	<Header />
	<div class="title flex flex-center flex-col">
		<h1>Contact</h1>
		<h2>You wanna reach me?</h2>
	</div>
	<div class="contactme flex items-center flex-col">
		<p class="m-2 text-xl">Discord: ringoxd</p>
		<p class="m-2 text-xl">Matrix: @ringoxd:matrix.org</p>
		<p class="m-2 text-xl">Mail: me@ringoxd.dev</p>
	</div>
	<Footer />
</Layout>

<style>
	.title {
		margin: 0px;
		width: auto;
		height: 20vh;
	}

	.title h1 {
		animation: slideanim 1s ease 0.25s forwards;
		opacity: 0;
	}
	.title h2 {
		animation: slideanim 1s ease 0.75s forwards;
		opacity: 0;
	}
	.contactme {
		animation: slideanim 1s ease 1.25s forwards;
		opacity: 0;
	}
	.title h1,
	.title h2 {
		margin: 5px;
	}
</style>