---
import Card from '../../ui/Card.astro'
---

<!-- min-h-[400px] -->

<div class="flex flex-col">
	<div class="can flex flex-center flex-col min-h-[400px]">
		<h1 class="m-4">What I can do?</h1>
	
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-3/4">
		<Card
		title='Create Discord Bot'
		body='I can create Discord Bot with discord.js@v14. did u know? Sekai.Explode is created by me.'
		/>
		<Card
		title='Create Website'
		body='I can create simple websites with Astro. this site was created with Astro.js & Cloudflare Pages <3'
		/>
		<Card
		title='Create Tools'
		body='I have created some tools. Ex: URL-Shortener, Discord Status Manager, and Raknet IP Scanner.'
		/>
		</div>
	</div>
	
	<div class="skills flex flex-center flex-column">
		<h1>Skills</h1>
		<div class="flex flex-center flex-row flex-wrap">
			<div class="mx-5 w-[75px] mt-2">
				<div class="w-full text-center mb-1">JavaScript</div>
				<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/javascript-original.svg?size=128&color=currentColor" width="50" height="50" alt="JavaScript" draggable="false"></div>
			</div>
			<div class="mx-5 w-[75px] mt-2">
				<div class="w-full text-center mb-1">TypeScript</div>
				<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/typescript-original.svg?size=128&color=currentColor" width="50" height="50" alt="TypeScript" draggable="false"></div>
			</div>
			<div class="mx-5 w-[75px] mt-2">
				<div class="w-full text-center mb-1">Vue</div>
				<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/vuejs-original.svg?size=128&color=currentColor" width="50" height="50" alt="Vue" draggable="false"></div>
			</div>
			<div class="mx-5 w-[75px] mt-2">
				<div class="w-full text-center mb-1">Node.js</div>
				<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/nodejs-original.svg?size=128&color=currentColor" width="50" height="50" alt="Node.js" draggable="false"></div>
			</div>
			<div class="mx-5 w-[75px] mt-2">
				<div class="w-full text-center mb-1">Hono</div>
				<div class="w-full flex justify-center"><img src="/assets/hono.webp" width="50" height="50" alt="Hono" draggable="false"></div>
			</div>
		</div>
	</div>
</div>

<style>
	.skills, .can {
		margin: 10px;
		animation: slideanim 0.75s ease 2.50s forwards;
		opacity: 0;
	}
</style>