---
import HLink from "./HLink.astro"
---

<header>
	<nav class="flex items-center justify-between">
		<h2>ringoxd.dev</h2>
		<div class="jump">
			<HLink href="/">Home</HLink>
			<HLink href="/products">Products</HLink>
			<HLink href="/contact">Contact</HLink>
		</div>
	</nav>
</header>

<style>
	header {
		/* animation: slideanim 1.5s ease 1.25s forwards; */
		/* opacity: 0; */
		margin: 0;
		padding: 0 1em;
		background: rgba(0, 0, 0, 0.4);
		box-shadow: 0 2px rgb(255, 255, 255), 5%;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
</style>