<div class="can flex flex-center flex-column">
	<h1>What can I do?</h1>
	<div class="flex flex-center flex-row">
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">JavaScript</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/javascript-original.svg?size=128&color=currentColor" width="50" height="50"></div>
		</div>
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">TypeScript</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/typescript-original.svg?size=128&color=currentColor" width="50" height="50"></div>
		</div>
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">Vue</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/vuejs-original.svg?size=128&color=currentColor" width="50" height="50"></div>
		</div>
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">Node.js</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/nodejs-original.svg?size=128&color=currentColor" width="50" height="50"></div>
		</div>
		<div class="mx-5 w-[75px] mt-2">
			<div class="w-full text-center mb-1">Express</div>
			<div class="w-full flex justify-center"><img src="https://icongr.am/devicon/express-original.svg?size=128&color=ffffff" width="50" height="50" alt="Express"></div>
		</div>
	</div>
</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1>uwu</h1>
</div>

<style>
	.can {
		margin: 10px;
		animation: slideanim 0.75s ease 2.50s forwards;
		opacity: 0;
	}
</style>