---
import SimpleLayout from '../../layouts/SimpleLayout.astro'
---

<SimpleLayout title="Clock | ringoXD" description="What time is it now?">
	<div class="flex items-center flex-col">
		<h1>Hello Sekai.</h1>
	</div>
</SimpleLayout>