---
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/Header/index.astro"
import Footer from "../../components/Footer/index.astro"

import LinkCard from "../../components/ui/LinkCard.astro"
---

<Layout title="Products" description="My Project/Products">
	<Header />
	<div class="title flex flex-center flex-column">
		<h1>Products</h1>
	</div>
	<div class="flex flex-center flex-column">
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-3/4">
			<LinkCard
			href="https://r.a1z.uk/"
			title='URL Shortener'
			body='You tired too looooong URL? Use this!'
			/>
			<LinkCard
			href="https://r.a1z.uk/"
			title='URL Shortener'
			body='You tired too looooong URL? Use this!'
			/>
			<LinkCard
			href="https://r.a1z.uk/"
			title='URL Shortener'
			body='You tired too looooong URL? Use this!'
			/>
			<LinkCard
			href="https://r.a1z.uk/"
			title='URL Shortener'
			body='You tired too looooong URL? Use this!'
			/>
		</div>
	</div>
	<Footer />
</Layout>

<style>
	.title {
		margin: 0px;
		width: auto;
		height: 75vh;
	}

	.title h1 {
		animation: slideanim 1s ease 0.25s forwards;
		opacity: 0;
	}
	.title h2 {
		animation: slideanim 1s ease 0.75s forwards;
		opacity: 0;
	}
	.title h1,
	.title h2 {
		margin: 5px;
	}
	@media (max-width: 720px) {
	}
</style>