---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { title, body, href } = Astro.props;
---



<a href={href} class="linkc block max-w-sm p-6 border rounded-lg bg-opacity-75 shadow-sm m-4">

	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
	<p class="font-normal text-gray-700 dark:text-gray-400">{body}</p>
</a>
	
	

<style>
	.linkc {
		border: 1px solid hsl(240 3.7% 15.9%);
	}
	.linkc:hover {
		animation: lanim 2s ease infinite;
	}
	@keyframes lanim {
		0% {
			border: 1px solid hsl(240 3.7% 15.9%);
		}
		50% {
			border: 1px solid hsl(234, 100%, 61%);
		}
		100% {
			border: 1px solid hsl(240 3.7% 15.9%);
		}

	}

</style>